<nav id="navbar">
  <div id="logo">
    <img src="https://i.ibb.co/NVG8fn6/logo.jpg" alt="SarfarazMeals.com">
  </div>
  <ul>
    <li class="item"><a routerLink="">Home</a></li>
    <li class="item"><a routerLink="service">Services</a></li>
    <li class="item"><a routerLink="about">About us</a></li>
    <li class="item"><a routerLink="contact">Contact Us</a></li>
    <li class="item"><a routerLink="search">Search</a></li>

  </ul>
</nav>

<section id="home">
  <h1 class="h-primary">Welcome to Online food</h1>
  <p>unique and high-value food item made in small quantities from high-quality ingredients</p>
  <!-- <button [routerLink]="'/dishes'" style="height:40px ;background-color: green; ">Order Now</button> -->
  <li class="item"><a routerLink="home" href="#" style="height:40px ;background-color: green; ">order Now</a></li>
</section>


