<div class="about-section">
  <div class="inner-container">
    <h1>About Us</h1>
    <p class="text">
      about page on your site is particularly important for online visitors. Customers are naturally curious, and not just about your menu. An about page tells the story of a business, highlighting what makes a restaurant unique. Everyone loves a good origin story!

Menufy builds free brand-based online ordering websites for our restaurant partners, including an About Us section. Our associates, such as Erin Trampel, a senior graphic designer, have experience helping our clients highlight interesting and informative content to include on their websites. 

“An About Us section helps your customers connect more with your restaurant and grow an attachment to it,
    </p>
    <div class="skills">
      
    </div>
  </div>
</div>