<main>
    <article>
      <section class = "selection-block outside-block left-block">
        <img class="close-button" src="https://assets.codepen.io/6060109/food-close-x.png" alt="An x in a circle; it a button for closing the window.">
        <div class="component-wrap">
          <div class="upper-data food-data">
            <img class="top-image" src="https://assets.codepen.io/6060109/hamburger+1.png" alt="An artistic rendering of a cheeseburger in a simple art style.">
            <h2>Choose a dish</h2>
          </div>
          <div class="lower-data">
            <p>tracks the change in retail prices of goods and services which households purchase for their daily consumption. To measure inflation, we estimate how much CPI has increased in terms of percentage change over the same period the previous year 
            </p>
            <a class="no-underline" href="#"><div class="button food-data">
              <h3>Next ➔</h3>
              </div></a>
          </div>
          <div class = "bottom-slider-dots">
            <div class="dot-1 dots green"></div>
            <div class="dot-2 dots"></div>
            <div class="dot-3 dots"></div>
          </div>
        </div>
      </section>
      <section class = "confirmation-block inside-block">
        <img class="close-button" src="https://assets.codepen.io/6060109/food-close-x.png" alt="An x in a circle; it a button for closing the window.">
        <div class="component-wrap">
          <div class="upper-data food-data">
            <img class="top-image" src="https://assets.codepen.io/6060109/food-happy.png" alt="A happy face within a menu screen; it is an icon in a simple line-art style.">
            <h2>Confirmation</h2>
            <p> Combine this with traditional side dishes of mashed potatoes, stuffing, squash and cranberry sauce for an easy-to-serve, family-style dinner. Baked ham is another good choice.
            </p>
          </div>
          <div class="item-selection food-data">
            <img src="https://assets.codepen.io/6060109/Rectangle.png" alt="A delicious burger on a plate.">
            <div class="item-info">
              <!-- <h3>Big Mac Menu</h3>
              <P>$29.99</P> -->
            </div>
            <div class="change-wrap">
              <p class="change-item"><a href="#">Change</a></p>
            </div>
          </div>
          <a class="no-underline" href="#"><div class="button button-middle food-data">
            <h3>I'm Ready to Eat!</h3>
            </div></a>
          <div class = "bottom-slider-dots">
            <div class="dot-1 dots"></div>
            <div class="dot-2 dots green"></div>
            <div class="dot-3 dots"></div>
          </div>
        </div>
      </section>
      <section class = "order-process-block outside-block right-block">
        <img class="close-button" src="https://assets.codepen.io/6060109/food-close-x.png" alt="An x in a circle; it a button for closing the window.">
        <div class="component-wrap">
          <div class="upper-data food-data">
            <img class="top-image" src="https://assets.codepen.io/6060109/delivery-man+1.png" alt="A happy face within a menu screen; it is an icon in a simple line-art style.">
            <h2>Your order<br>process begins</h2>
          </div>
          <div class="lower-data">
            <p>Find the restaurants. you can order using this websites. Decide how  you want to  get your food and place your order.
            </p>
            <a class="no-underline" href="#"><div class="button food-data">
              <h3>Track on the Map!</h3>
              </div></a>
          </div>
          <div class = "bottom-slider-dots">
            <div class="dot-1 dots"></div>
            <div class="dot-2 dots"></div>
            <div class="dot-3 dots green"></div>
          </div>
        </div>
      </section>
    </article>
  </main>