<ul>
    <li *ngFor="let food of menu">


      <a routerLink="/food">
       <img src="{{food.imageurl}}" alt="foods images">

       <div class="content">
       <div class="name">
          {{food.name}}
       </div>

        <span class="review {{food.review?'':'not'}}">Excellent</span>
      
             </div>
          <div class="price">
            Price: {{food.price}}
            </div>
            <div> 
              <button style="margin-bottom: 20px;" class="btn btn-warning" (click)="addToCart()" >Order Now</button> 

              
            </div>

          </a>
            </li>
               </ul>

