
<!-- <ul>
    <li *ngFor="let food of menu">


        <a routerLink="/food/{{food.id}}">
         <img src="{{food.imageurl}}" alt="foods images">
        
        <div class="content">
            <div class="name">
                {{food.name}}
            </div>

            <span class="review {{food.review?'':'any'}}">🧡</span> -->
            <!-- <ngx-star-rating [id]="'rating'"  ></ngx-star-rating> -->
<!--             <div class="product-item-footer"> -->
<!--                 <div class="origin">
                    <span *ngFor="let origin of food.origin">
                        {{food.origin}}
                    </span>
                </div> -->
<!--                 <div class="cook-time">
                    <span>⏰</span>
                    {{food.cooktime}}
                </div> -->
<!--             </div>
            <div class="price">
               Price: {{food.price}}
            </div>
        
        </a>
    </li>
</ul> -->

